.tree {
  position: absolute;
  cursor: pointer;
  transition: 0.05s ease opacity;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.variant-1 {
    top: -65%;
    right: -20%;
  }

  &.variant-2 {
    top: -50%;
    right: -20%;
  }

  &.stump {
    opacity: 1;
  }

  img {
    position: relative;
    width: 40px;
    height: auto;
  }
}